@import '../bower_components/bootstrap/less/bootstrap';


@blue: #33b5e5;
@dark-blue: #0099cc;
@orange: #ffbb33;
@green: #99cc00;


.jumbotron {
  padding-top: 50px;
  background-color: transparent;
}

body {
  background-color: @blue;
  color: #fff;
}


.marketing-box {
  padding: 10px;
  border-radius: 5px;

  // Media queries for different behaviors of this element on different resolutions.
  @media (min-width: @screen-lg-min) {
  	background-color: @orange;
  }
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  	background-color: @dark-blue;	
  }
  @media (max-width: @screen-sm-max) {
  	margin-bottom: 20px;
  	background-color: @green;
  } 
}
